body {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
.kamrul {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 80px;
}
#fast-section {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}
#dream-big {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#dream-big .half-width p {
  margin-bottom: 40px;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.hier-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 40px;
  background-image: linear-gradient(lightsalmon, tomato);
}
.half-width img {
  width: 100%;
}
